@using Forum.ViewModels.Settings
@model ChangePasswordInputModel;

<div class="text-center p-10 text-white menu-bg-forum">
    <h2 class="text-center text-white">Change Password</h2>
    <hr class="bg-white" />
    <form asp-area="AccountPanel" asp-controller="Settings" asp-action="ChangePassword" method="post" class="m-10">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" hidden="hidden" asp-for="Username" value="@this.User.Identity.Name" />
        <h3 class="m-0"><label>Old Password</label></h3>
        <div class="block">
            <input asp-for="OldPassword" type="password" />
        </div>
        <h3 class="m-0"><label>New Password</label></h3>
        <div class="block">
            <input asp-for="NewPassword" type="password" />
        </div>
        <div class="block m-10">
            <input class="submit-button bg-white text-forum" type="submit" value="Submit" />
        </div>
    </form>
</div>
<partial name="_ValidationScriptsPartial" />