<div class="profile-container p-10">
    <div>
        <button id="editProfileButton" class="menu-bg-forum full-width text-white border-none font-18 p-10">Edit Profile</button>
        <button id="changePasswordButton" class="menu-bg-forum full-width text-white border-none font-18 p-10">Change Password</button>
        <button id="deleteAccButton" class="menu-bg-forum full-width text-white border-none font-18 p-10">Delete Account</button>
        <button id="downloadInfoButton" onclick="location.href='/AccountPanel/Settings/DownloadInfo'" class="menu-bg-forum full-width text-white border-none font-18 p-10">Download Acc Info</button>
    </div>
    <div id="account-panel">

    </div>
</div>