<div class="text-center bg-burly text-forum block m-10px">
    <h3 class="m-0">
        <label class="text-forum">Search:</label>
    </h3>
    <form autocomplete="off" action="/" method="post">
        <div class="autocomplete">
            <input id="myInput" class="full-width border-5 border-none" type="text" placeholder="Search for users..." />
        </div>
        <div class="center-button">
            <button id="searchButton" class="m-0 submit-button menu-bg-forum text-white" type="button">Search</button>
        </div>
    </form>
</div>