@{
    ViewData["Title"] = "Forum Rules";
}

<div id="shoutbox" class="menu-bg-forum text-center">
    <h1><a id="main-heading-text" href="#">@ViewData["Title"]</a> </h1>
</div>
<div class="text-forum p-10 rules-container border-5 m-5" >
    <ol>
        <li>
            <p>
                No spam. All automated messages, advertisements, and links to competitor websites will be deleted immediately.
            </p>
        </li>
        <li>
            <p>
                Post in relevant sub-forums only. Messages posted in the wrong topic area will be removed and placed in the correct sub-forum by moderators.
            </p>
        </li>
        <li>
            <p>
                Respect other users. No flaming or abusing fellow forum members. Users who continue to post inflammatory, abusive comments will be deleted from the forum after two warnings are issued by moderators.
            </p>
        </li>
        <li>
            <p>
                Harassment. No threats or harassment of other users will be tolerated. Any instance of threatening or harassing behavior is grounds for deletion from the forums.
            </p>
        </li>
        <li>
            <p>
                Adult content. No profanity or pornography is allowed. Posts containing adult material will be deleted.
            </p>
        </li>
        <li>
            <p>
                Bandwidth. All images and signatures must be 500 x 500 pixels or smaller. Posts containing over-sized images and signatures will be removed.
            </p>
        </li>
        <li>
            <p>
                Illegal content. No re-posting of copyrighted materials or other illegal content is allowed. Any posts containing illegal content or copyrighted materials will be deleted.
            </p>
        </li>
        <li>
            <p>Please report all intruders in the report section of the forum, thank you.</p>
        </li>
        <li>
            <p>All rules must be followed strictly!</p>
        </li>
    </ol>
</div>