<h1 class="text-white">GDPR</h1>
<div class="text-forum bg-white p-10">
    <h2 class="mt-25">Introduction</h2>
    <p>
        The EU General Data Protection Regulation (“GDPR”) came into force on 25 May 2018.

        The new Regulation aims to standardise data protection laws and processing across the EU, giving people greater rights to access and control their personal information.
    </p>
    <hr />
    <h2>
        Our Commitment
    </h2>
    <p>
        [Insert Organisation Name] are committed to ensuring protection of all personal information that we hold, and to provide and to protect all such data. We recognise our obligations in updating and expanding this program to meet the requirements of GDPR.

        [Insert Organisation Name] are dedicated to safeguarding the personal information under our control and in maintaining a system that meets our obligations under the new regulations. Our practice is summarised below.
    </p>
    <hr />
    <h2>
        How We Prepared for GDPR
    </h2>
    <p>
        [This is where you should provide an overview of what measures you have taken to become and remain GDPR compliant. This will differ slightly from one organisation to another. You should remove sections that are not appropriate.

        [Insert Organisation Name] already have a consistent level of data protection and security across our organisation, but we have introduced new measures to ensure compliancy.

        Information Audit — We carried out an audit of information previously held and ensured that it was compliant with the new regulations.

        Policies and Procedures — we have revised data protection policies and procedures to meet the requirements and standards of the GDPR and any relevant data protection laws, including:

        Data Protection - our main policy and procedure document for data protection has been revised to meet the standards and requirements of the GDPR. Accountability and governance measures are in place to ensure that we understand and adequately disseminate and evidence our obligations and responsibilities; with a dedicated focus on privacy and the rights of individuals.

        Data Retention and Erasure - we have updated our retention policy and schedule to ensure that we meet the "data minimisation" and "storage limitation" principles and that personal information is stored, archived and destroyed in accordance with our obligations. We have procedures in place to meet the new "Right to Erasure" obligation.

        Data Breaches - our procedures ensure that we have safeguards in place to identify, assess, investigate and report any personal data breach as early as possible. Our procedures have been explained all employees.

        International Data Transfers and Third-Party Disclosures - where [insert organisation name] stores or transfers personal information outside the EU, we have robust procedures in place to secure the integrity of the data. Our procedures include a continual review of the countries with sufficient adequacy decisions, as well as binding rules, or standard data protection clauses for those countries without.

        Subject Access Request (SAR) - we have revised our SAR procedures to accommodate the revised 30-day timeframe for providing the requested information and for making this provision free of charge

        Privacy Notice/Policy - we have revised our Privacy Notice(s) to comply with the GDPR, ensuring that all individuals whose personal information we process have been informed of why we need it, how it is used, what their rights are, who the information is disclosed to and what safeguarding measures are in place to protect their information.

        Obtaining Consent - we have revised our consent mechanisms for obtaining personal data, ensuring that individuals understand what they are providing, why and how we use it and giving clear, defined ways to consent to us processing their information

        Direct Marketing - we have revised the wording and processes for direct marketing, including clear opt-in mechanisms for marketing subscriptions; a clear notice and method for opting out and providing unsubscribe features on all subsequent marketing materials.

        Data Protection Impact Assessments (DPIA) - where we process personal information that is considered high risk, we have developed stringent procedures for carrying out impact assessments that comply fully with the GDPR's Article 35 requirements. We have implemented documentation processes that record each assessment, allow us to rate the risk posed by the processing activity and implement mitigating measures to reduce the risk posed to the data subject(s).

        Processor Agreements - where we use any third-party to process personal information on our behalf (ie Payroll, Recruitment, Hosting, etc), we have drafted compliant Processor Agreements and due diligence procedures for ensuring that they meet and understand their/our GDPR obligations.
    </p>
    <hr />
    <h2>
        GDPR Roles and Employees
    </h2>
    <p>
        [Insert Organisation Name] have designated [insert DPO/lead name] as our [Data Protection Officer (DPO)/Appointed Person] and have appointed a data privacy team to develop and implement our roadmap for complying with the new data protection Regulation. The team are responsible for promoting awareness of the GDPR across the organisation, assessing our GDPR compliance, identifying any gap areas and implementing the new policies, procedures and measures.

        [Insert Organisation Name] understands that continuous employee awareness and understanding is vital to the continued compliance of the GDPR and have involved our employees in our preparation plans.

        If you have any questions about our GDPR compliance policies, please contact [Data Protection Officer (DPO)/Appointed Person].

        Last reviewed 25 May 2018
    </p>
</div>