@if (this.User.Identity.IsAuthenticated)
{
    @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Owner"))
    {
        <a class="font-25" asp-controller="Forum" asp-action="Create">New Forum</a>
        <a class="font-25" asp-controller="Category" asp-action="Create">New Category</a>
        <a class="font-25" asp-controller="Report" asp-action="All">View Reports</a>
        @if (this.User.IsInRole("Owner"))
        {
            <a class="font-25" asp-area="Owner" asp-controller="Role" asp-action="Index">Edit Roles</a>
        }
    }
}