<div>
    <div class="three-fragments-grid">
        <div class="text-center">
            <button id="postReportsBtn" class="menu-bg-forum full-width text-white border-none"><h3 class="m-10px">Post Reports</h3></button>
        </div>
        <div class="text-center">
            <button id="replyReportsBtn" class="menu-bg-forum full-width text-white border-none"><h3 class="m-10px">Reply Reports</h3></button>
        </div>
        <div class="text-center">
            <button id="quoteReportsBtn" class="menu-bg-forum full-width text-white border-none"><h3 class="m-10px">Quote Reports</h3></button>
        </div>
    </div>
    <div id="tableDiv" class="mt-25">

    </div>
</div>
@section Scripts{
    <script src="~/js/reportTablesAjax.js"></script>
}